{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
<h1>批量导入</h1>
<form action="upload" method=post enctype=multipart/form-data>
<p>
<input type=file name=file>
<input type=submit value="导入">
</p>
</form>
<h1>单条导入</h1>
<form method="post"> 
<table class="formdata"> 
<caption>请输入数据并提交(id不用填写，所有数据都非必填）</caption> 
<tr> 
{% for column in columns %}
    <th scope="col">{{column}}</th>
{% endfor %}
</tr> 

<tr> 
{% for column in columns %}
    <td><input type="text" name="data" id="{{column}}"/></td> 
{% endfor %}
</tr> 
</table> 
<input type="submit" name="提交">
</form> 
<br> 
<br> 
<p></p> 
<pre></pre> 
<br> 
<br> 
<p></p> 

</textarea>

<h1>自定义字段导入</h1>

{% endblock %}
